
@import "reset-fonts-grids.css";


/* Header
-------------------------------------------------------------- */

#header { background: #820505 no-repeat; padding: 8px;}
#header h1 a {color: #fff; font-size: 1.5em; text-decoration: none;}

ul#menu {
	margin:0 10em 0 0;
       	padding:3px;
	position:absolute;
	right:0px;
}
ul#menu li {
	display:inline;
	margin-left:12px;
}
ul#menu li a {
	text-decoration:none;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
}
ul#menu li a.active, ul#menu li a:hover {
	color:#211e1e;
}


/* Page */

#page { margin: 0 auto; width: 950px; border: 2px solid #eee;}

/* Body
-------------------------------------------------------------- */

#body { margin-top: 20px; }

/* Form
--------------------------------------------------------------*/
#duyuruform {
   padding: 20px 50px; 
}

fieldset#field_duyuru {border: none;padding:8px 25px 18px 15px;}

form#duyuru {
  position: relative;
  /*margin: 0 50px;*/
}

div#hospital_name,
div#hospital_city,
div#blood_type,
div#patient_name,
div#phone_number {
  position:relative;
  float:left;
  margin-right:10px;
}

div#submit {
  margin-top: 18px;
}

input[type="submit"]  {
    
}

label.overlabel {
  display: block;
  color:#8F0000;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 3px;
}

input:focus {
	border: 2px solid #BF5050;
}

/* Posts 
----------------------------------------------------------*/
.posts h2 {
    padding: 0px 0px 10px 8px;
    color: #8F0000;
    font-size: 1.5em;
}



/* Table 
----------------------------------------------------------*/

#results
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
/*	font-size: 12px;*/
	background: #fff;
/*	margin: 45px;*/
/*	width: 480px;*/
	border-collapse: collapse;
	text-align: left;
	margin: 0px 0px 40px 0;
}
#results th
{
	font-size: 1em;
	font-weight: bold;
	color: #444;
	padding: 10px 8px;
	/*border-bottom: 2px solid #EBDDD2;*/
	border-bottom: 2px solid #EEE;
}
#results td
{
	border-bottom: 1px solid #EEE;
	font-size: 1em;
	color: #555;
	padding: 6px 8px;
}

#results td a {
    color: #BF5050;
    text-decoration: none;
}

#results tbody tr:hover td
{
	background-color: #EBDDD2;
}

