<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<!--Using google javascript lib-->  
<script src="http://www.google.com/jsapi"></script>
<script>
// Load jQuery
google.load("jquery", "1");
</script>

<script type="text/javascript" src="static/js/jquery.form.js"></script> 
<script type="text/javascript" src="static/js/jquery.flydom-3.1.1.js"></script> 

<link type="text/css" rel="stylesheet" href="static/stylesheets/reset-fonts-grids.css">
<link type="text/css" rel="stylesheet" href="static/stylesheets/screen.css">
<script type="text/javascript"> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        var options = { 
                target:        '#request',   // target element(s) to be updated with server response 
                beforeSubmit:  validate,  // pre-submit callback 
                //success:       showResponse  // post-submit callback 
         
                // other available options: 
                //url:       url         // override for form's 'action' attribute 
                //type:      type        // 'get' or 'post', override for form's 'method' attribute 
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
                //clearForm: true        // clear all form fields after successful submit 
                //resetForm: true        // reset the form after successful submit 
         
                // $.ajax options can be used here too, for example: 
                //timeout:   3000 
            }; 
        // bind 'myForm' and provide a simple callback function 
        //$('#duyuru').ajaxForm(options); 
    }); 


    function validate(formData, jqForm, options) { 
        // fieldValue is a Form Plugin method that can be invoked to find the 
        // current value of a field 
        // 
        // To validate, we can capture the values of both the username and password 
        // fields and return true only if both evaluate to true 
        
        var hospitalnameValue = $('input[@name=hospital_name]').fieldValue(); 
        var hospitalcityValue = $('input[@name=hospital_city]').fieldValue(); 
        var bloodtypeValue = $('input[@name=blood_type]').fieldValue()
        var patientnameValue = $('input[@name=patient_name]').fieldValue()
        var phonenumberValue = $('input[@name=phone_number]').fieldValue()
     
        // usernameValue and passwordValue are arrays but we can do simple 
        // "not" tests to see if the arrays are empty 
        if (!hospitalnameValue[0] || !hospitalcityValue[0]) { 
            //alert('Please enter a value for both hospital and city'); 
            var json = { text: 'I was created by tplAppend()!' };
            var tpl = function() {
                return [ 'div', { className: 'alert' }, this.text ];
            };

            $('#duyuruform').tplAppend(json, tpl);
            return false; 
        } 
    }

</script> 



<title>
{{ title|escape }}
  </title>

  <!--<script type="text/javascript" src="/static/script.js"></script>-->


</head>
<body>

