<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="static/jquery-1.2.6.pack.js"></script> 
<script type="text/javascript" src="static/jquery.form.js"></script> 
<link type="text/css" rel="stylesheet" href="static/stylesheets/screen.css">
<script type="text/javascript"> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        var options = { 
                target:        '#posts',   // target element(s) to be updated with server response 
                beforeSubmit:  showRequest,  // pre-submit callback 
                success:       showResponse  // post-submit callback 
         
                // other available options: 
                //url:       url         // override for form's 'action' attribute 
                //type:      type        // 'get' or 'post', override for form's 'method' attribute 
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
                //clearForm: true        // clear all form fields after successful submit 
                //resetForm: true        // reset the form after successful submit 
         
                // $.ajax options can be used here too, for example: 
                //timeout:   3000 
            }; 
        // bind 'myForm' and provide a simple callback function 
        $('#duyuru').ajaxForm(options); 
    }); 
</script> 


  <title>
    {{ title|escape }}
  </title>

  <!--<script type="text/javascript" src="/static/script.js"></script>-->


</head>
<body>

