{% include "header.html" %}

</head>
<body>
    <h2><a href=".">Acil Kan Duyurusu Yapin</a></h2> 
    
    <a href="{{ url }}">{{ url_linktext }}</a>

 <form id="duyuru" action="/duyuru" method="post">
      <div>
        <textarea name="hospital_name" rows="1" cols="30"></textarea> 
        <textarea name="hospital_city" rows="1" cols="30"></textarea>  
        <textarea name="blood_type" rows="1" cols="20"></textarea>  
        <textarea name="patient_name" rows="1" cols="30"></textarea>  
        <textarea name="phone_number" rows="1" cols="30"></textarea> 
       </div>
      <div><input type="submit" value="Duyur"></div>
 </form>

 <div id="output1">

 {% if not filter_byhospital %}
    {% if not filter_byblood %}     
        <h2>Tum Acil Kan Duyurulari</h2>
        {% for req in reqs %}
        <pre><a href="?hospital={{ req.hospital.name|escape }}">{{ req.hospital.name|escape}}</a>  <a href="?city={{ req.hospital.city|escape }}">{{ req.hospital.city|escape }}</a>  <a href="?bloodtype={{ req.blood.type|escape}}">{{ req.blood.type|escape }}</a> {{ req.patient_name|escape }}   {{ req.phone_number|escape}}</pre>
        {% endfor %}
    {% endif %}
 {% endif %}

 
 {% if filter_byhospital %} 
    {% if not hospital_city %}
        {% if hospital_name %}
        <h2>Acil Kan Duyurulari ( {{ hospital_name }} Hastahanesi )</h2>

        {% for hosp in hospitals %}
            {% for r in hosp.requests %}
                <pre>{{ r.hospital.name|escape }} <a href="{{curr_url}}&city={{ r.hospital.city|escape }}">{{r.hospital.city|escape}}</a>  {{ r.blood.type|escape }} {{ r.patient_name|escape }}   {{ r.phone_number|escape}}</pre>
            {% endfor %}
        {% endfor %}
        {% endif %}

  {% endif %}
    
    {% if hospital_city %}
        {% if hospital_name %}
            <h2>Acil Kan Duyurulari ( {{ hospital_city }} {{ hospital_name }} Hastahanesi )</h2>
            {% for hosp in hospitals %}
                {% for r in hosp.requests %}
                    <pre>{{ r.hospital.name|escape }} {{ r.hospital.city|escape }} {{ r.blood.type|escape }} {{ r.patient_name|escape }}   {{ r.phone_number|escape}}</pre>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}
 
     {% if not hospital_name %}
        {% if hospital_city %}
            <h2>Acil Kan Duyurulari ( {{ hospital_city }} )</h2>
            {% for hosp in hospitals %}
             {% for r in hosp.requests %}
                <pre><a href="{{curr_url}}&hospital={{ r.hospital.name|escape }}">{{r.hospital.name|escape}}</a> {{r.hospital.city|escape}} {{ r.blood.type|escape }} {{ r.patient_name|escape }}   {{ r.phone_number|escape}}</pre>
            {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}
 {% endif %}

</div>

 {% if filter_byblood %} 
     {% for blood in bloods %}
          <h2>Acil Kan Duyurulari ( {{ blood.type }} Kan Grubu )</h2>
        {% for r in blood.requests %}
        <pre><a href="{{curr_url}}&hospital={{ r.hospital.name|escape }}">{{ r.hospital.name|escape }}</a> <a href="{{curr_url}}&city={{ r.hospital.city|escape }}">{{ r.hospital.city|escape}}</a>  {{ r.blood.type|escape }} {{ r.patient_name|escape }}   {{ r.phone_number|escape}}</pre>
        {% endfor %}
    {% endfor %}
 {% endif %}
</body>
</html>
