{% include "header.html" %}

<body>
<div id="doc2" class="yui-t7">
   <div id="hd"><h1><a href=".">Acil Kan Duyurulari</a></h1></div>
    <div id="bd">
	    <div class="yui-g">
	        <a href="{{ url }}">{{ url_linktext }}</a>
	
            <div id="duyuruform">
                 <form id="duyuru" action="/duyuru" method="post">
                    <fieldset id="field_duyuru">
                      <div id="hospital_name">
                        <label for="hospital_name" class="overlabel">Hastahane</label>
                        <input id="hospital_name" title="Hastahane Ismi" tabIndex="1" type="text" name="hospital_name" />
                      </div>
                       <div id="hospital_city">
                          <label for="hospital_city" class="overlabel">Sehir</label>
                          <input type="text" title="Sehir" id="hospital_city" name="hospital_city" tabIndex="2" />  
                       </div>
                       <div id="blood_type">
                          <label for="blood_type" class="overlabel">Kan Grubu</label>
                          <input type="text" title="Kan Grubu" id="kan_grubu" name="blood_type" size="10" maxlength="3" tabIndex="3" />  
                       </div>
                       <div id="patient_name">
                          <label for="patient_name" class="overlabel">Hasta Adi</label>
                          <input type="text" title="Hasta Ismi" id="hasta_ismi" name="patient_name" tabIndex="4" />  
                       </div>
                       <div id="phone_number">
                          <label for="phone_number" class="overlabel">Telefon No</label>
                          <input type="text" title="Telefon No" id="telefon_no" name="phone_number" tabIndex="5" />  
                       </div>
                       <div id="submit">
                          <input type="submit" name="submit" value="Duyur" tabIndex="6">
                       </div>
                     </fieldset>
                 </form>
            </div><!--close duyuruform-->
    	</div><!--close yui-g-->

        <div class="yui-ge">
            <div class="yui-u first">
                <div class="posts">
                     {% if not filter_byhospital %}
                        {% if not filter_byblood %}     
                            <h2>Tum Acil Kan Duyurulari</h2>
                        <table id="results" class="main" cellspacing="0">
                              <tbody>

                            {% for req in reqs %}
                              <tr id="request">
                              <td class="city"><a href="?city={{ req.hospital.city|escape }}">{{ req.hospital.city|escape }}</a></td> 
                              <td class="hospital"><a href="?hospital={{ req.hospital.name|escape }}">{{ req.hospital.name|escape}}</a></td>   
                              <td class="type"><a href="?bloodtype={{ req.blood.type|escape}}">{{ req.blood.type|escape }}</a></td> 
                              <td class="patient">{{ req.patient_name|escape }}</td> <td class="contact">{{ req.phone_number|escape}}</td>
                              
                              </tr>
                            {% endfor %}
                             </tbody>
                         </table>

                        {% endif %}
                     {% endif %}
                     
                     {% if filter_byhospital %} 
                        {% if not hospital_city %}
                            {% if hospital_name %}
                              <h2>Acil Kan Duyurulari ( {{ hospital_name }} Hastahanesi )</h2>
                        <table id="results" class="main" cellspacing="0">
                              <tbody>

                              {% for hosp in hospitals %}
                                  {% for r in hosp.requests %}
                                  <tr id="request">
                                      <td class="city"><a href="{{curr_url}}&city={{ r.hospital.city|escape }}">{{ r.hospital.city|escape }}</a></td> <td class="name">{{r.hospital.name|escape}}</td>  <td class="type">{{ r.blood.type|escape }}</td> <td class="patient">{{ r.patient_name|escape }}</td>   <td class="contact">{{ r.phone_number|escape}}</td>
                                  </tr>
                                  {% endfor %}
                              {% endfor %}
                            </tbody>
                         </table>

                            {% endif %}
                        {% endif %}
                        
                        {% if hospital_city %}
                            {% if hospital_name %}
                                <h2>Acil Kan Duyurulari ( {{ hospital_city }} {{ hospital_name }} Hastahanesi )</h2>
                        <table id="results" class="main" cellspacing="0">
                              <tbody>

                                {% for hosp in hospitals %}
                                    {% for r in hosp.requests %}
                                    <tr id="request">
                                        <td class="city">{{ r.hospital.city|escape }}</td> <td class="name">{{ r.hospital.name|escape }}</td> <td class="type"><a href="{{curr_url}}&bloodtype={{ r.blood.type|escape }}">{{ r.blood.type|escape }}</a></td> <td class="patient">{{ r.patient_name|escape }}</td>   <td class="contact">{{ r.phone_number|escape}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                         </table>   
                            {% endif %}
                        {% endif %}
                       
                         {% if not hospital_name %}
                            {% if hospital_city %}
                                <h2>Acil Kan Duyurulari ( {{ hospital_city }} )</h2>
                                <table id="results" class="main" cellspacing="0">
                                  <tbody>
                                        {% for hosp in hospitals %}
                                          {% for r in hosp.requests %}
                                            <tr id="request">
                                              <td class="city">{{ r.hospital.city|escape }}</td> <td class="name"><a href="{{curr_url}}&hospital={{ r.hospital.name|escape }}">{{r.hospital.name|escape}}</a></td> <td class="type"><a href="{{curr_url}}&bloodtype={{ r.blood.type|escape }}">{{ r.blood.type|escape }}</a></td> <td class="patient">{{ r.patient_name|escape }}</td>   <td class="contact">{{ r.phone_number|escape}}</td>
                                            </tr>
                                          {% endfor %}
                                         {% endfor %}
                                  </tbody>
                                 </table>
   
                            {% endif %}
                        {% endif %}
                     {% endif %}

                     {% if filter_byblood %} 
                         {% for blood in bloods %}
                              <h2>Acil Kan Duyurulari ( {{ blood.type }} Kan Grubu )</h2>
                            {% for r in blood.requests %}
                            <pre><a href="{{curr_url}}&hospital={{ r.hospital.name|escape }}">{{ r.hospital.name|escape }}</a> <a href="{{curr_url}}&city={{ r.hospital.city|escape }}">{{ r.hospital.city|escape}}</a>  {{ r.blood.type|escape }} {{ r.patient_name|escape }}   {{ r.phone_number|escape}}</pre>
                            {% endfor %}
                        {% endfor %}
                     {% endif %}
             </div><!--close posts-->
            </div><!--close yui-first-->
            <div class="yui-u">
    	        <p>YOUR DATA GOES HERE</p>
            </div><!--close yui-u-->
        </div><!--close yui-ge-->
	</div> <!--close bd-->
   <div id="ft">Footer is here.</div>
</div> <!--close doc2-->
</body>




